<h2>Latest ExchangeRates</h2>
<div *ngIf="usdObj">
  <table class="highlight">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Last price</th>
        <th>Last Buy price</th>
        <th>Last Sell price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td *ngIf="usdObj.symbol === '$'">USD</td>
        <td *ngIf="usdObj.last">{{ usdObj.symbol + usdObj.last }}</td>
        <td *ngIf="usdObj.buy">{{ usdObj.symbol + usdObj.buy }}</td>
        <td *ngIf="usdObj.sell">{{ usdObj.symbol + usdObj.sell }}</td>
      </tr>
    </tbody>
  </table>
</div>
