<h2>Latest ExchangeRates</h2>
<div *ngIf="objArr">
  <table class="highlight">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Last price</th>
        <th>Last Buy price</th>
        <th>Last Sell price</th>
      </tr>
    </thead>
    <!-- Testing <== Finished <== Went through a variety of methods, Object.entries was the best variant. -->
    <!--
      
      *ngFor="let item of usdObj | keyvalue"
      *ngFor="let it of item.value | keyvalue" ! KEYVALUE can be useful
        {{ item.key }}
        {{ it.value }}
      *ngIf="usdObj.USD"
        {{ usdObj.USD.last }} -->
    <tbody>
      <tr *ngFor="let item of objArr">
        <td>{{ item[0] }}</td>
        <td>{{ item[1].symbol + " " + item[1].last }}</td>
        <td>{{ item[1].symbol + " " + item[1].buy }}</td>
        <td>{{ item[1].symbol + " " + item[1].sell }}</td>
        <!-- Older code, updated version allows for injection of each currency instead of 1by1 -->
        <!-- 
            Will not work due to removed code from dashboard.component.ts
            <td *ngIf="usdObj.symbol === '$'">USD</td>
            <td *ngIf="usdObj.last">{{ usdObj.symbol + usdObj.last }}</td>
            <td *ngIf="usdObj.buy">{{ usdObj.symbol + usdObj.buy }}</td>
            <td *ngIf="usdObj.sell">{{ usdObj.symbol + usdObj.sell }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
<p class="muted">Information obtained using blockchain.com/ticker</p>
